#tick{
    height: 20px;
    width: 20px;
}

#school{
    width: 600px;
}

.left img{
    position: absolute;
    left: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    image: (url:"https://m.media-amazon.com/images/I/81vaB9d1pxL._AC_SL1500_.jpg";);
    }
   .right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    }